<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Editable table</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
        <tr>
          <th class="text-center">First Name</th>
          <th class="text-center">Last Name</th>
          <th class="text-center">Phone Number</th>
          <th class="text-center">Email</th>
          <th class="text-center">Role</th>
          <th class="text-center">Active</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td class="pt-3-half" contenteditable="true">{{user.firstName}}</td>
            <td class="pt-3-half" contenteditable="true">{{user.lastName}}</td>
            <td class="pt-3-half" contenteditable="true">{{user.phoneNumber}}</td>
            <td class="pt-3-half" contenteditable="true">{{user.email}}</td>
            <td class="pt-3-half" contenteditable="true">
              <select class="browser-default custom-select" [(ngModel)]="user.role">
                <option selected>Role</option>
                <option value="ROLE_ADMIN">Admin</option>
                <option value="ROLE_USER">User</option>
              </select>
            </td>
            <td class="pt-3-half" contenteditable="true">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" [(ngModel)]="user.active"/>
            </td>
            <td>
                <span class="table-remove"><button type="button"
                                                   class="btn btn-danger btn-rounded btn-sm my-0" (click)="delete(user);$event.stopImmediatePropagation();">Remove</button></span>
            </td>
            <td>
                <span class="table-remove"><button type="button"
                                                   class="btn btn-success btn-rounded btn-sm my-0" (click)="updateUser(user)">Save</button></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
