<nav id="mynav" class="fixed-top navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" [routerLink]="home.path">Importili.tn</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto text-center">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="home.path">{{home.title}}</a>
      </li>
      <li class="nav-item active" *ngIf="logged">
        <a class="nav-link" [routerLink]="create.path">{{create.title}}</a>
      </li>
      <li class="nav-item dropdown text-right" *ngIf="!logged">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Join us !
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link" data-toggle="modal" data-target="#loginForm">Login</a>
          <a class="nav-link" data-toggle="modal" data-target="#signupForm">SignUp</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
      <li class="nav-item dropdown text-right">
        <a class="nav-link" data-toggle="modal" data-target="#signupForm" *ngIf="logged" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
